<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959511637289-21pabamvbfrphc20rcuu99h3sn7jh98v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959511637289-21pabamvbfrphc20rcuu99h3sn7jh98v</string>
	<key>API_KEY</key>
	<string>AIzaSyACWFU8ChVHgVLzxNGbbRPj8EtGCO_MuDE</string>
	<key>GCM_SENDER_ID</key>
	<string>959511637289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>applogin-d372c</string>
	<key>STORAGE_BUCKET</key>
	<string>applogin-d372c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959511637289:ios:83cee9b4e796aeb9ca5b38</string>
</dict>
</plist>